div.posts {
    max-height: 45em;
    width: 100%;
    margin-bottom: 5em;
    background-color: #EEEEEE;
    overflow: auto;
    border-radius: 5px;
}

#this_is_fine {
    display: block;
    margin: 1em auto;
    border-radius: 5px;
    max-width: 100%;
}

#content_select {
    border-radius: 2px;
}

img.image-post {
    display: block;
    margin: 1em auto;
    max-height: 15em;
    max-width: 85%;
    border-radius: 5px;
}

span.text-post {
    font-size: 1em;
    text-align: left;
}

a.url-post {
    font-size: 1.2em;
    font-weight: 900;
    text-align: left;
}

.fixed {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
}